# Root production environment variables used by docker compose

# MongoDB bootstrap credentials
MONGO_USER=change_me_admin_user
MONGO_PASS=change_me_super_secure_password

# Host port for frontend container
FRONTEND_PORT=80
